body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    text-align: center;
    height: 200px;
    width: 500px;
    border-radius: 10px;
    padding: 20px; /* Add padding for better appearance */
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.container:hover {
    transform: scale(1.05); /* Scale container on hover */
}

button {
    background: rgb(4, 236, 4);
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 10px 20px; /* Add padding for better button appearance */
    cursor: pointer;
    transition: background 0.3s ease-in-out; /* Add transition effect */
}

button:hover {
    background: green;
}

#result {
    color: rgb(4, 236, 4);
}
